@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  --color-saweriaYellow: #fde047;
}

@layer base {
  body {
    @apply font-sans bg-white text-black;
  }
}